/* .homeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    box-sizing: b-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.ppbCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    z-index: 100;
}

.SideBar{
    box-sizing: border-box;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 100;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.2em;
    padding: 0 20px;
}

.addNote{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 5px rgb(0, 61, 85) solid;
    border-radius: 25px;
    width: 20vw;
    height: 8vh;
    margin-top: 5vh;
    padding: 0px 5px;
    color: rgb(95, 95, 95);
    &:hover{
        border-bottom: 2px rgb(0, 33, 46) solid;
        cursor: pointer;
    }
}

.addNote h4{
    width: 100%;
    text-align: center;
}

.sbBtn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 10vh;
    width: 10%;
    border-bottom: 5px solid #000;
    /* &:hover{
        transition: all .1s ease-out;            
        border-bottom: 5px solid rgb(211, 211, 183);
    } */
}

.sbBtn::after{
    content: '';
    display: flex;
    justify-content: center;
    width: 0px;
}

.sbBtn:nth-child(1):hover::after{
    content: 'Home';
    display: flex;
    transition: all .3s ease-out;
    width: 100%;
}
.sbBtn:nth-child(2):hover::after{
    content: 'Users';
    display: flex;
    transition: all .3s ease-out;
    width: 100%;
}
.sbBtn:nth-child(3):hover::after{
    content: 'Chat';
    display: flex;
    transition: all .3s ease-out;
    width: 100%;
}
.sbBtn:nth-child(4):hover::after{
    content: 'Notifications';
    display: flex;
    transition: all .3s ease-out;
    width: 100%;
}
.sbBtn:nth-child(5):hover::after{
    content: 'Profile';
    display: flex;
    transition: all .3s ease-out;
    width: 100%;
}
.sbBtn:nth-child(6):hover::after{
    content: 'LogOut';
    display: flex;
    transition: all .3s ease-out;
    width: 100%;
}

.hidden{
    display: none;
}

.addForm{
    position: fixed;
    background-color: transparent;
    z-index: 150;
}

.btnEmptyPpb{
    background-color: white;
    width: 70%;
    height: 50px;
    box-sizing: content-box;
    margin: 20px 0px;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;    
    z-index: 200;

    &:hover{
        cursor: pointer;
        transition: all .2s ease-out;
        background-color: rgb(0, 61, 85);
        color: white;
    }
}

.userImage{
    width: 40px;
    height: 40px;
}