.main{
    display: flex;
}

.profileBodySection{
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: whitesmoke;
    overflow-y: scroll;
}

.header{
    width: 100%;
    height: 45vh;
    background-color: rgb(89, 104, 172);
    z-index: 1;
}

.headerInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    top: 30vh;
    width: 100%;
}

.avatarImage{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 2;
}

.headerArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.headerArticle h3, .headerArticle h2{
    margin: 0px;
}

.logout{
    position: absolute;
    right: 2vw;
    background-color: rgb(0, 61, 81);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.mainSection{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    top: 20vh;
    height: 65vh;
}

.description{
    grid-column: 1/2;
    width: 80%;
    height: 60vh;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border-bottom: 5px rgb(0, 61, 85) solid;
    
    margin: 0px 10px;
    box-sizing: content-box;
}

.lastActivity{
    grid-column: 2 / 3;
    width: 98%;
    height: min-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-bottom: 5px rgb(0, 61, 85) solid;
}

.activityHeader{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1vh 2vw;
}

.activityBtn{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border-bottom: 5px rgb(0, 61, 85) solid;
    &:hover{
        cursor: pointer;
        border-bottom: 1px rgb(0, 61, 85) solid;
    }
}

.ActivityCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 25%;
    height: 200px;
    background-color: rgb(207, 228, 225);
    border-radius: 10px;
    border-bottom: 5px rgb(0, 61, 85) solid;
    padding: 20px;
    margin: 0px 10px;
    box-sizing: content-box;
    &:hover{
        cursor: pointer;
        border-bottom: 1px rgb(0, 61, 85) solid;
    }
}

.notesContainer{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 100%;
    row-gap: 20px;
}

.dflex{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 5px;
    width: 500px;
}